.MuiInputBase-input{
  color:white !important;
}

.MuiNativeSelect-select{
  color:white !important;
}

.textarea:focus{
  border-color:transparent;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper{
  background-color:#18252D !important;
  color:#fff !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  color:rgb(255, 255, 255) !important;
}

.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root{
  color:rgb(255, 255, 255) !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
  color:rgb(255, 255, 255) !important;
}

.css-7b8pr9-MuiPaper-root{
  padding:5px !important;
}

.customOverlay {
  background: rgba(247, 247, 247, 0.247) !important;
}

.customModal {
  background: #273A46 !important;
  max-width: 600px !important;
  width: 100% !important;
  border-radius: 10px !important;
}

div[disabled] {
  pointer-events: none;
  cursor: not-allowed !important;
  opacity: 0.5;
}
